<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schet</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header>
    <h1 id="app-name">Schet</h1>
</header>
<p id="description">Schet is a schedule coordination tool.</p>

<form id="new-event-form" class="form-inline" method="POST">
    <input id="new-event-title-field" class="form-control" name="title" type="text" autofocus/>
    <button id="new-event-button" class="btn btn-default glyphicon glyphicon-plus" type="submit" aria-hidden="true"></button>
</form>
<footer>
    <ul id="link">
        <li><a href="https://github.com/shrhdk/schet">GitHub</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</footer>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
