@import "common";
@import "record";
@import "comments";

/* Layout */

body {
  padding: 1em;
}

#app-name {
  font-size: 3em;
  margin: 0;
}

/* Title and Description */

#title {
  font-size: 1.6em;
  min-height: 1em;
  margin: 0.5em 0;
}

#description {
  @include textarea;
  min-width: 100%;
  margin-bottom: 1em;
  padding: 2px;
  min-height: 1em;
  border: 1px solid silver;
  font-family: monospace, monaco;
}

