@import "common";
@import "record";
@import "comments";

/* Layout */

body {
  padding: 1em;
}

#app-name {
  font-size: 4em;
}

/* Title and Description */

#title {
  font-size: 1.6em;
  min-height: 1em;
}

#description {
  white-space: pre;
  padding: 0.5em;
  min-height: 5em;
  background-color: #f1f1f1;
}

/* Comments */

#comments {
  padding: 0;
  width: 800px;
  .comment {
    list-style-type: none;
    padding: 0.2em;
    margin: 0.2em;

    * {
      display: inline-block;
    }
  }
}
