@import "common";
@import "module/widget";

$widget-size: 32px;

html {
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#app-name {
  margin: 0;
  font-size: 5em;
}

#event-title {
  @include text-with-button($widget-size);
  width: 20em;
  max-width: 70%;
  font-size: 100%;
}

#create-event {
  @include icon-button($widget-size);
}

#link {
  padding: 0;
  li {
    display: inline;
    margin: 0 0.5em;
  }
}
