@import "common";
@import "module/widget";

html {
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#app-name {
  margin-top: 0;
  font-size: 5rem;
}

#event-title {
  @extend .text-with-button;
  width: 16em;
  max-width: 70%;
}

#create-event {
  @extend .icon-button;
}

#link {
  padding: 0;
  li {
    display: inline;
    margin: 0 0.2em;
  }
}
