@import "module/widget";

$padding: 3px;

// table

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

  th, td {
    padding: $padding;
    border: 1px solid black;
    overflow: auto;
  }
}

// record

select {
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  .existing {
    appearance: none;
    border: none;
    margin: 0 auto;
    display: table-cell;
  }
}

tr.is-fixed {
  background-color: #88f193;
}

// term

.term-col {
  text-align: left;
  position: relative;
  overflow: hidden;
}

.term {
  font-size: 100%;
  font-family: monospace;
}

#term-text {
  @include text-with-button;
  min-width: 24ex;
  font-family: monospace, monaco;
}

#add-term {
  @include icon-button;
}

.delete-term {
  @include icon-button;
  position: absolute;
  right: $padding;
  margin-bottom: $padding;
  opacity: 0;
}

.term-col:hover .delete-term {
  opacity: 1;
}

// participant

#participant-name {
  @include text;
  width: 5em;
}

#add-participant {
  @include icon-button;
}

.delete-participant {
  @include icon-button;
}
