html {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#app-name {
    margin-top: 0;
    font-size: 5rem;
}

#new-event-form {
    vertical-align: middle;
}

#new-event-title-field {
    width: 40rem;
}

#new-event-button {
    top: 0;
}

#link {
    padding: 0;
}

#link li {
    display: inline;
    margin: 0 0.2em;
}
