include record
include comments

doctype html
html
  head
    include header
    title= event.title
    link(type='text/css', rel='stylesheet', href='/css/events.css')
  body
    div#app-name: a(href='/') Schet
    h1#title= event.title
    p#description= event.description
    +record(event)
    hr
    +comments(event.comments)
    form#comment-form(method='POST', action='/#{event.id}/comments')
      input#comment-name-field(name='name', type='text', placeholder='Name')
      input#comment-body-field(name='body', type='text', placeholder='Message')
      input#comment-submit(type='submit', value='Add Comment')
    script(type='text/javascript', src='/js/event.js')
