include record
include comments

doctype html
html
  head
    include header
    title= event.title
    link(type='text/css', rel='stylesheet', href='/css/event.css')
  body
    div#app-name: a(href='/') Schet
    h1#title= event.title
    textarea#description(disabled=event.fixed)= event.description
    +record(event)
    +comments(event.comments)
    script(type='text/javascript', src='/js/event.js')
