doctype html
html
  head
    include header
    title Schet
    link(type='text/css', rel='stylesheet', href='/css/index.css')
  body
    header
      h1#app-name Schet
    p#description Schet is a schedule coordination tool.
    form#new-event-form(method='POST')
      input#new-event-title-field.form-control(name='title', type='text', autofocus)
      button#new-event-button(type='submit') Create
    footer
      ul#link
        li: a(href='https://github.com/shrhdk/schet') GitHub
        li: a(href='/api') API
        li: a(href='/contact') Contact
    script(type='text/javascript', src='/js/index.js')
